@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "SFDisplay-regular";
  src: url("./assets/SFProDisplay-Regular.ttf") format("truetype");
}

#root {
  margin: 0 auto;
  text-align: center;
  font-family: "SFDisplay-regular", Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}


